:root {
  --dark-blue: #101d42;
  --grey-color: #747c92;
  --light-color: #f6fedb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--grey-color);
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

/* General Styles */
button {
  font-family: 'Karla', sans-serif;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  background-color: var(--dark-blue);
  color: var(--light-color);
  border: none;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
  cursor: pointer;
}

.refresh-btn {
  width: 100px;
  background-color: var(--grey-color);
  border: 1px solid var(--dark-blue);
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.98);
}

label {
  margin-top: 10px;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

/* Styling for main content */
.enter-word-container {
  display: flex;
  flex-direction: column;
}

.inner-container {
  margin: 20px 0;
}

/* Alert Box */
.alert {
  position: absolute;
  top: 25%;
  left: 60%;
  width: 200px;
  height: 140px;
  background-color: var(--dark-blue);
  color: #fff;
  border-radius: 10px;
  padding: 20px 10px;
  text-align: center;
  border: 2px solid red;
  animation: grow 0.5s ease-in;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Alert Box close button */
.close {
  background-color: var(--light-color);
  color: var(--dark-blue);
  align-items: center;
  margin: 10px;
}
